*{
    color: rgb(34, 19, 13);
    background-image: linear-gradient(90deg, rgba(250, 146, 146, 0.6), rgba(167, 167, 224, 0.8));
    font-family: 'Fredericka the Great', cursive;
}
.sub-menu {
    display: inline-flex;
    justify-content: center;
}
a{
    text-decoration: none;
    //display: inline-block;
    margin: 5px;
}
h1 {
    text-align: center;
}
h5 {
    font-weight: bold;
    color: sienna;
}
img {
    height:auto;
    width: 800px;
    margin: 16px;
}
.holder {
    text-align: center;
}
