*{
    color: rgb(34, 19, 13);
    background-image: linear-gradient(90deg, rgb(250, 146, 146), rgb(167, 167, 224));
}
a{
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}
h1 {
    text-align: center;
}
h5 {
    font-weight: bold;
    color: sienna;
}
img {
    height:auto;
    width: 800px;
    margin: 16px;
}
.holder {
    text-align: center;
}