*{
    color: rgb(34, 19, 13);
    background-image: linear-gradient(90deg, rgba(250, 146, 146, 0.6), rgba(167, 167, 224, 0.8));
    font-family: 'Fredericka the Great', cursive;
}
.sub-menu {
    margin-left: 160px;
    display: inline-flex;
    /*justify-content: space-between;*/
}
.sub-menu .box{
    text-align: center;
}
.box:nth-child(1) {
    background-image: url("pork.png");
    background-position: center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    margin-right: 20px;
}
.box:nth-child(2) {
    background-image: url("soup.png");
    background-position: center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    margin-right: 20px;
}
.box:nth-child(3) {
    background-image: url("chicken.png");
    background-position: center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    margin-right: 20px;
}
.box:nth-child(4) {
}
.box:nth-child(5) {
}
a{
    text-decoration: none;
    /*display: inline-block;*/
    margin: 28px;
}
h1 {
    text-align: center;
}
h5 {
    font-weight: bold;
    color: sienna;
}
img {
    height:auto;
    width: 800px;
    margin: 16px;
}
.holder {
    text-align: center;
}
